{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-12">
            <h1>Welcome to my website!</h1>
            The majority of the content that is available is only accessible after logging in,
            see the top-right and extend the drop-down menu under My Account. To see all features
            available, be sure to be logged in as an admin user! Loc Mgmt(dt) allows for a more extensive usage of an
            uploaded locations file, allowing for exporting as a different type and quick searching of
            specific entries.
        </article>
    </div>
{% endblock %}
</article>